
.createTodoSection {
    position: absolute;
    width: 60%;
    top: 100px;
    left: 20%;
    background-color: white;
    height: 50px;
    /* border-radius: ; */
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.createTodoInput {
    width: 100%;
    border: none;
}

.createTodoInput:focus {
    outline: none;
}

.btn {
    background-color: green;
}